<launch>

    <arg name="project" default="terra"/>

    <!--- Run Rviz-->
    <!-- <node pkg="rviz" type="rviz" name="$(arg project)_rviz" args="-d $(find terra)/config/rviz/title_figure.rviz" /> -->
    <node pkg="rviz" type="rviz" name="$(arg project)_rviz" args="-d $(find terra)/config/rviz/terra.rviz" />
    <!-- <node pkg="rviz" type="rviz" name="$(arg project)_rviz_global" args="-d $(find terra)/config/rviz/terra_color.rviz" /> -->

</launch>
